.card-example {
  .cards {
    list-style-type: none;
    padding: 0;
    margin: 0.5em -0.5em;
    display: flex;
    flex-wrap: wrap;
  }

  .example {
    margin-top: 2em;
  }

  .card {
    display: block;
    padding: 1em;
    border-radius: 0.5em;
    background: linear-gradient(
      to bottom,
      rgb(0 0 255 / 2%),
      rgb(0 0 255 / 7%)
    );
    border: 2px solid rgb(0 0 255 / 10%);
    box-shadow: 0 0 1em rgb(0 0 0 / 10%);
    box-sizing: border-box;
    width: 100%;
    margin: 0.5em;
  }

  [data-dark-mode="true"] .card {
    background: linear-gradient(
      to bottom,
      rgb(170 170 239 / 20%),
      rgb(91 91 228 / 10%)
    );
    border: 2px solid rgb(159 159 254 / 10%);
  }

  @media (width >= 38em) {
    .card {
      width: calc(50% - 1em);
      flex: calc(50% - 1em) 0 0;
    }
  }

  @media (width >= 61em) {
    .card {
      width: calc(33% - 3em);
      flex: calc(33% - 3em) 0 0;
    }
  }

  .title {
    margin: 0;
  }

  .date {
    color: gray;
    font-weight: 300;
    font-size: 0.75em;
    margin-bottom: 1em;
  }

  .description {
    font-size: 0.875em;
  }

  .cards li::before {
    display: none;
  }
}
