{{page-title "EmberAutoAnimate"}}

<h2 id="title">Welcome to Ember</h2>
{{!-- <ActualBoxes /> --}}
{{!-- <ActualList /> --}}
{{!-- <ActualCards /> --}}
{{!-- <ExampleSort /> --}}
{{!-- <ActualAccordion /> --}}
<ExampleJuggle />

{{outlet}}
